.container {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 95px minmax(200px, 1fr) 100px;
  grid-template-areas:
  "header header"
  "aside main"
  "aside main";
}

header {
  grid-area: header;
  background-color: #7B72D8;

}

main {
  grid-area: main;
  background-color: white;
}

aside {
  grid-area: aside;
  background-color: #635baf;
}

.dashboard-search {
  display: grid;
  grid-template-columns: auto 80%;
}
